.wealth {
    @include adaptiveClamp(padding-top, 130, 124);
    &__container {
    }

    &__title {
        @include adaptiveClamp(margin-bottom, 50, 16);
    }

    &__content {
    }

    &__slider {
        @media(max-width:1350px){
            margin-left: auto;
            margin-right: auto;
            max-width: rem(1200);
        }
    }

    &__wrapper {
        
        @media(min-width:1351px){
            display: grid !important;
            grid-template-columns: 1fr 1fr !important;
            row-gap: rem(25);
        }
        @media(max-width:1350px){
            
        }
    }

    &__slide {
        
    }
}
.title-block {
}
.swiper-wrapper {
}
.wealth-slide {
    height: auto;
    
    &:nth-child(odd):last-of-type {
        transform: translateX(50%);
        @media(max-width:1350px){
            transform: translateX(0);
        }
    }
    @media(max-width:1075px){
        // width: rem(343);
    }
    &__row {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        // @include adaptiveClamp(gap, 25, 8);
        gap: rem(15);
        @media(min-width:1352px){
            
        }
        @media(max-width:1350px){
            grid-template-columns: 1fr;
            gap: rem(8);
          
        }
        @media(max-width:1200px){
            display: flex;
            flex-direction: column;
        }
        
    }

    &__left {
        width: 100%;
        min-height: auto;
        // aspect-ratio: 1 / 1;
        aspect-ratio: ar(346,342);
        @media(max-width:1200px){
            // height: 100%;
            flex: auto;
        }
    }

    &__fon {
    }

    &__body {
        padding-bottom: rem(40);
        @media(max-width:1350px){
            @include adaptiveClamp(padding-top, 133, 89);
        }
        @media(max-width:500px){
            padding-top: 35% !important;
        }
    }

    &__number {
    }

    &__title {
    }

    &__text {
    }

    &__right {
        img {
            width: 100%;
        }
        @media(max-width:1350px){
            padding-left: rem(56);
        }
    }
}
.swiper-slide {
}

