.making {
    position: relative;
    padding-top: rem(24);
    @include adaptiveClamp(padding-bottom, 130, 100);
    &__container {
    }

    &__row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptiveClamp(gap, 50, 20);
        align-items: start;
        @media(max-width:980px){
            grid-template-columns: 1fr;
            @include adaptiveClamp(gap, 5, 0);
        }
    }

    &__left {
    }

    &__input-block {
        margin-bottom: rem(50);
    }

    &__input-item {
    }

    &__title-input-block {
        font-weight: 600;
        @include adaptiveClamp(font-size, 22, 16);
        @include adaptiveClamp(margin-bottom, 20, 16);
        line-height: 120%;
    }

    &__radio-block {
        margin-bottom: rem(50);
    }

    &__input-radio-item {
    }

    &__quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(20);
        @include adaptiveClamp(padding-top, 20, 15);
        @include adaptiveClamp(padding-left, 30, 16);
        @include adaptiveClamp(padding-bottom, 20, 15);
        @include adaptiveClamp(padding-right, 30, 16);
        box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
        background-color: var(--bg-card);
        border-radius: 20px;
        input {
            color: var(--green-bl)
        }
        p {
            @include adaptiveClamp(font-size, 18, 16);
            font-weight: 600;
            line-height: 120%;
        }
    }

    &__input-block {
    }

    &__right {
    }

    .time-not {
        white-space: wrap;
    }
}




.quantity {

    &__row {
    }

    &__number-minus {
    }

    &__input {
    }

    &__number-plus {
    }
}



.making {

    &__right {
    }
}
.making-right {
    position: sticky;
    top: rem(150);
    display: flex;
    flex-direction: column;
    @include adaptiveClamp(gap, 10, 8);
    &__body {
        display: block;
        @include adaptiveClamp(padding, 30, 16);
        border-radius: 20px;
        box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
        background-color: var(--bg-card);
        height: auto;
    }

    &__top {
        padding-bottom: rem(10);
        border-bottom: 1px solid var(--gray-bl);
    }

    &__title {
        font-weight: 600;
        @include adaptiveClamp(font-size, 22, 18);
        line-height: 120%;
        @include adaptiveClamp(margin-bottom, 20, 16);
    }

    &__text-block {
        display: flex;
        justify-content: space-between;
        gap: rem(10);
        
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
        p {
            font-weight: 600;
            line-height: 120%;
            @include adaptiveClamp(font-size, 18, 16);
            
            &:first-child {
                margin-right: auto;
                text-align: left;
                min-width: rem(54);
                span {
                    min-width: rem(54);
                }
            }

            &:nth-child(2){
                min-width: rem(120);
                text-align: right;
            }
        }
        .orange {
            color: var(--orange);
        }
        &.orange {
            @include adaptiveClamp(margin-bottom, 20, 16);
            P {
                color: var(--orange);
            }
        }
        &.big {
            @include adaptiveClamp(margin-top, 20, 16);
            p {
                @include adaptiveClamp(font-size, 22, 18);
            }
        }

        &.padding {
            @include adaptiveClamp(padding-left, 10, 8);
            @include adaptiveClamp(padding-right, 18, 14);
        }
        &.mb {
            @include adaptiveClamp(margin-bottom, 20, 16);
        }
    }

    &__bot {
        @include adaptiveClamp(padding-top, 20, 16);
    }

    &__text-block-date {
        p {
            display: flex;
            align-items: center;
            gap: rem(20);
        }
    }
}


.making-payment {
    display: block;
    @include adaptiveClamp(padding, 30, 16);
    border-radius: 20px;
    box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
    background-color: var(--bg-card);
    height: auto;
   
    .input-radio-item__label {
        gap: rem(20);
    }

    &__content {
        display: flex;
        justify-content: space-between;
        gap: rem(24);
        align-items: end;
        @media(max-width:450px){
            flex-direction: column;
            align-items: start;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        @include adaptiveClamp(gap, 20, 16);
    }

    &__button.button {
        @include adaptiveClamp(font-size, 18, 16);
        padding-top: rem(10);
        padding-bottom: rem(10);
        @media(max-width:450px){
            width: 100%;
            padding-top: rem(11);
            padding-bottom: rem(11);
        }
    }
}


.making-structure {
    display: flex;
    flex-direction: column;
    gap: rem(10);
    margin-top: rem(10);
    
    margin-bottom: rem(20);

    &__item {
        border-bottom: 1px solid rgba(157, 176, 159, 1);
        &._active {
            .making-structure__head svg {
                transform: rotate(180deg);
            }
            .making-structure__body {
                max-height: rem(400);
                pointer-events: all;
                opacity: 1;
                @include adaptiveClamp(padding-bottom, 20, 16);
            }
        }
    }
    &__head {
        display: flex;
        align-items: center;
        gap: rem(20);
        cursor: pointer;
        @include adaptiveClamp(padding, 10, 8);
        p {
            font-weight: 600;
            @include adaptiveClamp(font-size, 18, 16);
            line-height: 120%;
        }
        svg {
            width: rem(24);
            height: rem(24);
            transition: all 0.3s ease  0s;
        }
    }

    &__date {
        margin-right: auto;
        
        color: rgba(157, 176, 159, 1);
    }

    &__body {
        display: flex;
        flex-direction: column;
        @include adaptiveClamp(gap, 10, 8);
        @include adaptiveClamp(padding-right, 20, 16);
        @include adaptiveClamp(padding-left, 20, 16);
        transition: all 0.3s ease  0s;
        pointer-events: none;
        opacity: 0;
        overflow: hidden;
        max-height: 0;
        p {
            @include adaptiveClamp(font-size, 16, 14);
            font-weight: 600;
            line-height: 120%;
        }
    }
}


.inquiry__select {
    .disablet .select__item {
        display: none;
    }
    .disablet .select__item.time-not {
        display: block !important;
    }
    .select__item.time-not {
        display: none !important;
    }
}