// Заголовки, общие БЄМ блоки и проче...
body {
    background-color: rgba(219, 221, 206, 1)
}
* {
    color:rgba(13, 71, 51, 1);
}
.crumbs {
    @include adaptiveClamp(padding-top, 35, 21);
    padding-bottom: rem(20);
    &__container {
    }

    &__row {
        display: flex;
        align-items: center;
        @include adaptiveClamp(gap, 10, 8);
        flex-wrap: wrap;
        a {
            @include adaptiveClamp(font-size, 16, 12);
            color: var(--gray);
            transition: all 0.3s ease  0s;
            cursor: pointer;
            &:hover {
                color: rgb(97, 113, 98);
            }

            &.active {
                color: var(--gray-bl);
                pointer-events: none;
            }
        }
    }

    &__line {
        width: rem(1);
        height: 100%;
        background-color: rgba(157, 176, 159, 1);
        @include adaptiveClamp(height, 21, 16);
        border-radius: 10px;
        pointer-events: none;
    }
}
.active {
}

.title-block {
    font-weight: 600;
    font-size: 42px;
    @include adaptiveClamp(font-size, 42, 22);
    line-height: 120%;
    b, strong {
        font-weight: 600;
        color: var(--orange);
    }
}

.button, button.button {
    display: block;
    box-shadow: 0 0 2px 0 rgba(13, 71, 51, 0.5);
    background-color: rgba(219, 221, 206, 1);
    padding-left: rem(20);
    padding-right: rem(20);
    @include adaptiveClamp(padding-top, 13, 9);
    @include adaptiveClamp(padding-bottom, 13, 9);
    border-radius: 20px;
    transition: all 0.3s ease  0s;
    cursor: pointer;
    text-align: center;
    span {
        text-align: center;
    }
    &:hover {
        color: var(--orange);
    }

    &.gray {
        background-color: rgba(13, 71, 51, 1);
        color: rgba(219, 221, 206, 1);
        padding-left: rem(24);
        padding-right: rem(24);
        font-weight: 600;
        &:hover {
            background: rgba(237, 238, 231, 1) ;
            box-shadow: 0px 0px 2px rgba(13, 71, 51, 0.5);
            color: rgba(13, 71, 51, 1) ;
            
        }
    }

    &.white {
        box-shadow: 0 0 2px 0 rgba(13, 71, 51, 0.5);
        background-color: rgba(237, 238, 231, 1);
        font-weight: 600;
    }
}


.quantity {
    &__row  {
        display: flex;
        gap: rem(10);
    }
    &__number-minus,  &__number-plus {
        padding: rem(12) rem(12);
        background-color: rgba(237, 238, 231, 1);
        box-shadow: 0 0 2px 0 rgba(13, 71, 51, 0.5);

        @include adaptiveClamp(width, 30, 24);
        @include adaptiveClamp(min-width, 30, 24);
        @include adaptiveClamp(max-width, 30, 24);
        @include adaptiveClamp(height, 30, 24);
        transition: all 0.3s ease  0s;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: 600;
        font-size: rem(22);
        line-height: 120%;
        border-radius: 4px;
        &:hover {
            box-shadow: 0px 0px 4px rgba(13, 71, 51, 1);
        }
    }
  
    &__input {
        display: inline-block;
        border-left: 0 ;
        border-right: 0;
        @include adaptiveClamp(width, 30, 24);
        margin-left: rem(6);
        margin-right: rem(6);
        @include adaptiveClamp(height, 30, 24);
        border-radius: 0;
        background: none;
        height: rem(46);
        width: 100%;
        max-width: 100%;
        color: var(--gray-bl);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        @include adaptiveClamp(font-size, 22, 18);
        line-height: 120%;
        border-radius: 4px;
    }
}
.swiper-pagination {
    position: relative !important;
    bottom: 0 !important;
    left: auto !important;
    display: inline-flex;
    align-items: center;
    width: auto !important;

}
.swiper-pagination-bullet {
    transform: scale(1);
    opacity: 0.2;
    background: #74BBA2;
    width: rem(12);
    height: rem(12);
    transform: scale(0.9);
    transition: all 0.3s ease  0s;
    margin-left: rem(2) !important;
    margin-right: rem(2) !important;
}

.swiper-pagination-bullet-active {

    background: rgba(224, 139, 47, 1);
    opacity: 1;
    transform: scale(1);
} 



input, textarea {
    color: rgba(157, 176, 159, 1);
}
input.text, textarea {
    font-size: rem(18);
    @include adaptiveClamp(padding-top, 18, 14);
    @include adaptiveClamp(padding-left, 30, 16);
    @include adaptiveClamp(padding-bottom, 18, 14);
    @include adaptiveClamp(padding-right, 30, 16);
    box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
    background-color: var(--bg-card);
    border: 1px solid var(--bg-card);
    border-radius: 20px;
    color: var(--gray-bl);
    font-weight: 600;
    @media(max-width:850px){
        font-size: rem(16);
    }


    &._error {
        box-shadow: 0 0 4px 0 rgba(182, 21, 21, 1);
    }

    &:focus {
        border: 1px solid orange;
    }
}
.input-block {
    display: flex;
    flex-direction: column;
    @include adaptiveClamp(gap, 20, 16);

    &.two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @include adaptiveClamp(column-gap, 50, 16);
        row-gap: rem(50);
        @media(max-width:1380px){
            grid-template-columns: 1fr;
        }
    }
}
.input-item {
    display: flex;
    flex-direction: column;
    
    &__label {
        @include adaptiveClamp(font-size, 16, 14);
        font-weight: 600;
        line-height: 120%;
        margin-bottom: rem(10);
        @include adaptiveClamp(padding-left, 30, 16);
    }

    &__input {
        margin-top: auto;
    }

    &__label-big {
        @include adaptiveClamp(font-size, 22, 16);
        padding-left: 0;
        @include adaptiveClamp(margin-bottom, 20, 16);
    }

    &__label-hint {
        display: flex;
        align-items: center;
        gap: rem(10);
        position: relative;
        
    }

    &__label-hint-icon {
        width: rem(20);
        height: rem(20);
        cursor: pointer;
        svg {
            width: rem(20);
            path {
                transition: all 0.3s ease  0s;
            }
        }
        &:hover {
            svg {
                path {
                    fill: var(--orange);
                }
            }
        }
        &:hover + .input-item__label-hint-text {
            opacity: 1;
            
        }
    }

    &__label-hint-text {
        position: absolute;
        bottom: 130%;
        right: 0;
        box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
        border-radius: 18px 18px 0px 18px;
        background-color: var(--gray-bl);
        padding: rem(20);

        @include adaptiveClamp(font-size, 15, 12);
        line-height: 120%;
        max-width: rem(400);
        width: max-content;
        color: rgba(219, 221, 206, 1);
        // pointer-events: none;
        opacity: 0;
        transition: all 0.3s ease-in-out  0.5s;
        @media(max-width:1024px){
            padding-right: rem(34);
        }
    }
    &__label-hint-close {
        @media(min-width:1025px){
            display: none;
        }
        display: block;
        width: rem(15);
        height: rem(15);
        position: absolute;
        top: rem(10);
        right: rem(10);
    }

    &__label-textarea {
        padding-left: rem(10);
        font-weight: 400;
        @include adaptiveClamp(font-size, 18, 14);
        @include adaptiveClamp(margin-bottom, 20, 16);
    }

    &__sub {
        font-weight: 600;
        transition: all 0.3s ease  0s;
        margin-top: rem(8);
        display: inline-block;
        margin-left: auto;
        @include adaptiveClamp(font-size, 16, 14);
        &:hover {
            color: var(--orange);
        }
    }
}

.radio-block {
    display: flex;
    @include adaptiveClamp(gap, 30, 24);
    flex-wrap: wrap;
}

input[type="radio"],input[type="checkbox"] {
    display: none;

    &:checked + label .input-radio-item__circle {
        border: 5.5px solid var(--orange);
    }
}

.input-radio-item {

    &__input {
    }

    &__label {
        display: flex;
        align-items: center;
        gap: rem(10);
        font-weight: 600;
        @include adaptiveClamp(font-size, 18, 16);
        line-height: 120%;
        cursor: pointer;
        span {
            transition: all 0.3s ease  0s;
        }
        &:hover {
            span {
                color: var(--orange);
            }
          
        }
    }

    &__circle {
        // margin-top: rem(3);
        display: block;
        width: rem(16);
        height: rem(16);
        border-radius: 50%;
        border: 1px solid var(--orange);
        transition: all 0.3s ease  0s;
    }

    &__icon-text {
        display: flex;
        gap: rem(20);
        align-items: center;
    }
}


textarea {
    @include adaptiveClamp(min-height, 142, 135);
    resize: none;
}





//выбор
.select {
    position: relative;
    display: block;
    width: 100%;

    input {
        width: 100%;
        @include adaptiveClamp(padding-right, 140, 90);
    }
}

.select__head {
    position: relative;
    width: auto;
    border-radius: rem(20);
    font-weight: 600;
    font-size: rem(18);
    @include adaptiveClamp(padding-top, 21, 14);
    @include adaptiveClamp(padding-left, 30, 16);
    @include adaptiveClamp(padding-bottom, 21, 14);
    @include adaptiveClamp(padding-right, 30, 16);
    box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
    background-color: var(--bg-card);
    border: 1px solid var(--bg-card);
    border-radius: 20px;
    color: rgba(157, 176, 159, 1);
    line-height: 130%;
    @media(max-width:850px){
        font-size: rem(16);
    }
    // width: 100%;
    cursor: pointer;
    transition: all 0.3s ease  0s;
    @include adaptiveClamp(min-height, 56, 52);
    ._error & {
        border: 1px solid red;
    }
    &.select-active {
        color: var(--green-bl);
    }

    &.open {
        border: 1px solid var(--orange);
    }
}

.select__head::after {
    // width: rem(19);
    // height: rem(20);
    // background: url("@img/select-str.svg") no-repeat center / cover;
    // position: absolute;
    // right: rem(16);
    // bottom: 50%;
    // transform: translateY(50%);
    // content: '';
    // display: block;
    // transition: .2s ease-in;
}

.select__head.open::after {
    transform: translateY(50%) rotate(180deg);
}
.select__row {
    display: inline-flex;
    width: auto;
    flex-direction: column;
    gap: rem(16);
    overflow-x: hidden;
    overflow-y: scroll;

    max-height: rem(190);
    margin-right: rem(-9);
    padding-right: rem(9);
    
}
.select__list {
    position: absolute;
    padding: rem(20);
    display: inline-block;
    top: 120%;
    left: rem(10);
    right: 0;
    background-color: var(--bg-card);
    border-radius: 20px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin-top: 5px;
    max-height: 0px;
    width: max-content;
    max-width: 100%;
    opacity: 0;
    @include adaptiveClamp(gap, 20, 16);
    z-index: 100;
    margin: 0;
    font-size: rem(16);
    overscroll-behavior: contain;
    transition: all 0.3s ease  0s;
    &.open {
        max-height: rem(290);
        opacity: 1;
    }
    
}

.select__list .select__item {
    position: relative;
    // border-top: 1px solid rgba(224, 229, 231, 0.5);
    // padding: rem(10) rem(25);
    cursor: pointer;
    list-style-type: none;
    transition: all 0.3s ease  0s;
    @include adaptiveClamp(font-size, 18, 16);
    font-weight: 600;
    line-height: 120%;
    width: auto;
    white-space: nowrap;
    &:hover {
        color: var(--orange);
    }
}

.select-change {
    position: relative;
    .select__head {
        display: none;
    }
    .select__list {
        display: block;
        left: 0;
        width: 100%;
        @include adaptiveClamp(padding-top, 30, 16);
        max-width: 100%;
    }
    .select__list-title {
        font-weight: 600;
        @include adaptiveClamp(font-size, 18, 14);
        line-height: 120%;
        @include adaptiveClamp(margin-bottom, 10, 16);
        @include adaptiveClamp(padding-left, 30, 16);
        color: var(--gray-bl);
    }
    .select__row {
        width: calc(100% + 0.5625rem);
        @include adaptiveClamp(gap, 10, 16);
        padding: rem(3);
        padding-right: rem(9);
        height: auto;
        margin-right: rem(-9);
    }
    .select__item {
        display: flex;
        box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        gap: rem(20);
        @include adaptiveClamp(padding, 20, 16);

        p {
            font-weight: 600;
            @include adaptiveClamp(font-size, 18, 16);
            line-height: 120%;
        }
    }
    .select__item-button {
        font-weight: 600;
            @include adaptiveClamp(font-size, 18, 16);
            line-height: 120%;
            transition: all 0.3s ease  0s;
            cursor: pointer;
            color: rgba(157, 176, 159, 1);
            &:hover {
                color: rgb(95, 129, 98);
            }
    }
    .select__button {
        display: inline-block;
        font-weight: 600;
        @include adaptiveClamp(font-size, 18, 14);
        line-height: 120%;
        color: var(--orange);
        padding: rem(3);
        position: absolute;
        @include adaptiveClamp(right, 37, 13);
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
        cursor: pointer;
        transition: all 0.3s ease  0s;
        &:hover {
            opacity: 0.7;
        }
    }
    
}

.soon {
    padding: rem(20) 0;
}

.soon__container {
    padding: 0 16px;
    max-width: 1440px;
    display: flex;
    justify-content: center;
}
.soon__body {
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    // margin-left: auto;
    border-radius: 20px;
    padding: 16px 16px 24px;
    box-shadow: 0 0 4px 0 rgba(13, 71, 51, 0.2);
    background-color: rgba(237, 238, 231, 1);
}
.soon__body svg {
    width: 100px;
    max-height: 100px;
}
.soon__body p {
    font-weight: 500;
    font-size: 15px;
    line-height: 120%;
    text-align: center;
    max-width: 330px;
}

.button-hidden {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 2;
}

.slide-card {
    position: relative;
    &__fon {
        width: 100%;
        img {
            width: 100%;
        }
    }

    &__body {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        @include adaptiveClamp(padding-top, 103, 89);
        padding-left: rem(32);
        padding-right: rem(32);
        padding-bottom: rem(32);
    }

    &__number {
        position: absolute;
        top: rem(-2);
        left: 50%;
        transform: translateX(-50%);
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        @include adaptiveClamp(gap, 19, 16);
        svg {
            width: rem(13);
        }
        p {
            font-weight: 600;
            @include adaptiveClamp(font-size, 64, 42);
            color: var(--orange);
            text-align: center;
            line-height: 0.75;
        }
    }

    &__title {
        text-align: center;
        font-weight: 600;
        @include adaptiveClamp(font-size, 22, 18);
        line-height: 120%;
        text-align: center;
        @include adaptiveClamp(margin-bottom, 10, 16);
    }

    &__text {
        text-align: center;
        @include adaptiveClamp(font-size, 18, 16);
        line-height: 120%;
        text-align: center;
       
    }
}



.pagination-number {
    @media(min-width:560px){
        display: none;
    }
    margin-bottom: rem(60);
    &__item {
        width: rem(50);
        display: flex;
        align-items: center;
        gap: rem(16);
        opacity: 0.2;
        transition: all 0.3s ease  0s;
        &.swiper-slide-thumb-active {
            opacity: 1;
        }
        p {
            font-size: rem(42);
            color: var(--orange);
            font-weight: 600;
        }
        svg {
            width: rem(16);
        }
    }
}
