/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(13, 71, 51, 1) #d6d6d6; /* Зеленый цвет для ползунка и серый для фона */

  /* Chrome, Edge, Safari */
  &::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
    background-color: #d6d6d6; /* Цвет фона */
  }

  &::-webkit-scrollbar-track {
    background: #eee; /* Цвет фона трека */
    box-shadow: inset 0 0 6px rgba(13, 71, 51, 1); /* Тень внутри трека */
    border-radius: 10px; /* Скругленные углы трека */
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(13, 71, 51, 1); /* Зеленый цвет для ползунка */
    border-radius: 10px; /* Скругление ползунка */

    &:hover {
      background-color: rgba(13, 71, 51, 1); /* Зеленый цвет при наведении */
    }
  }
}
